.board-lists-flex {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
    height: 90%;
    overflow-x: scroll;
}
.board-lists-flex::-webkit-scrollbar {
    display: none;
}
.board-bg-container {
    height: 94.8vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
